body {
  font-family: Arial, sans-serif;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}

li::first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #bdc1c6;
  border-radius: 25px;
}

.overview {
  margin-bottom: 20px;
}

.current-weather {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.current-weather img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
  vertical-align: top;
}

.current-weather strong {
  color: rbg(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.current-weather .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.current-weather .active {
  cursor: default;
  color: black;
}

.current-weather .active:hover {
  text-decoration: none;
}

a:link {
  text-decoration-line: none;
  color: rgb(135, 135, 135);
}

.weather-forecast {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-direction: row;
  padding-top: 40px;
  color: rgb(135, 135, 135);
}

.weather-forecast-day {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
}

.weather-forecast-temperature .weather-forecast-high {
  font-size: 13px;
}

.weather-forecast-temperature-low {
  opacity: 0.6;
}
